@font-face {
  src: url(font/Pacifico-Regular.ttf);
  font-family: Pacifico;
}
@font-face {
  src: url(font/Roboto-Light.ttf);
  font-family: Roboto;
}
@font-face {
  src: url(font/Montserrat-VariableFont_wght.ttf);
  font-family: Montserrat;
}
.Gallery {
  display: inline-block;
  border: 2px solid hsl(0, 1%, 83%);
  padding: 5px;
  margin: 5px;
  width: 400px;
}
.Gallery:hover {
  border: 2px solid hsl(0, 1%, 72%);
}
.contain {
  text-align: center;
}
.Gallery a {
  text-decoration: none;
}
.Gallery .description {
  padding: 10px;
  text-align: center;
  font-family: Montserrat;
  font-weight: 700;
  color: hsla(0, 2%, 24%, 0.774);
}
.Gallery .desctext{
    font-family: Montserrat;
    color: hsla(0, 0%, 59%, 0.89);
}
.Gallery img {
  width: 100%;
  height: auto;
} .navbar {
  background-color: hsla(0, 0%, 0%, 0.904);
  height: 56px;
  position: fixed;
  width: 100%;
 }
 .navbar a{
  background-color: hsla(0, 0%, 0%, 0.904);
}
 /*
.navbar a {
  color: hsla(0, 0%, 100%, 0.911);
  padding: 10px;
  padding-top: 20px;
  margin: auto;
  text-align: center;
  text-decoration: none;
}
.nav {
  padding: 17px;
  text-align: center;
}
*/
.navbar a:hover {
  color: hsl(180, 66%, 55%);
}
.navbar a:active {
  color: hsl(249, 70%, 59%);
} 
.tech {
  font-size: 30px;
  padding-right: 30px;
  color: white;
  text-decoration: none;
  font-family: serif;
  margin: auto;
  text-align: center;
  font-weight: bolder;
  opacity: 0.75;
}

h1 {
  font-family: Pacifico;
}
main {
  background-color: hsl(0, 14%, 93%);
}
footer {
  display: block;
  clear: both;
  background-color: hsla(180, 9%, 7%, 0.897);
  text-align: center;
  padding: 15px;
}
body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
header {
  background-image: url(image/light.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
  width: 100%;
  margin: 0;
  padding: auto;
  padding-top: 300px;
  text-align: center;
}
aside {
  width: 30%;
  float: left;
  padding: 10px;
}
section {
  width: 35%;
  float: left;
  padding: 10px;
}
article {
  padding: 10px;
  width: 35%;
  float: left;
}
@media screen and (max-width: 767px) {
  aside,
  article,
  section {
    width: 100%;
  }
}

.aside,
.article,
.section {
  font-family: Montserrat;
}
